*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 5px solid goldenrod;
  aspect-ratio: 2/1;
}
.section-center {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.item-info header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1000px) {
  .section-center {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    justify-content: space-between;
  }
  .section-center > * {
    flex: 0 1 45%;
    margin-bottom: 2rem;
  }
}
